---
import CourseCard from "./CourseCard.astro";
import type { CourseDetails } from "../../types";
import type { MarkdownInstance } from "astro";

export interface Props {
    courses: MarkdownInstance<CourseDetails>[];
}

const { courses } = Astro.props;
---

<div>
    {
        courses.map((course) => (
            <CourseCard
                id={course.frontmatter.id}
                title={course.frontmatter.title}
                cover={course.frontmatter.cover}
                logo={course.frontmatter.logo}
                description={course.frontmatter.description}
            />
        ))
    }
</div>

<style>
    div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
</style>
